{% extends "voc2.j2" %}

{% block summary %}
<p>
Het vocabularium OSLO-Hoppinpunten definieert termen die van toepassing zijn om gegevens uit te wisselen over Vervoersknooppunten voor passagiersvervoer en in het bijzonder over Hoppinpunten.
</p>
{% endblock %}
