{% extends "voc2.j2" %}

{% block summary %}
<p>
Het vocabularium OSLO-Vervoersknooppunten definieert termen die van toepassing zijn om gegevens uit te wisselen over Vervoersknooppunten voor passagiersvervoer.
</p>
{% endblock %}
