{% extends "ap2.j2" %}

{% block summary %}
<p>
Het applicatieprofiel OSLO-Vervoersknooppunten toont hoe termen uit het overeenstemmend <a href="https://data.vlaanderen.be/ns/vervoersknooppunten">vocabularium</a> gebruikt moeten worden om gegevens uit te wisselen over Vervoersknooppunten voor passagiersvervoer.
</p>

<p>
Omwille van het diverse aanbod en de overstapmogelijkheden spelen Vervoersknooppunten waar reizigers kunnen overstappen een belangrijke rol bij het realiseren van basisbereikbaarheid.
</p>

<p>
Het model bestaat uit twee delen. Het eerste deel geeft een algemene definitie van een Vervoersknooppunt en beschrijft de elementen waaruit het bestaat met specifieke aandacht voor passagiersvervoer. De Reiziger maakt gebruik van Vervoersknooppunten voor zijn Reis of Route en dit wordt beschreven in deel twee.
</p>

<p>
Hieronder focussen we op deel één, voor meer info over deel twee verwijzen we naar het <a href="https://data.vlaanderen.be/doc/applicatieprofiel/mobiliteit-trips-en-aanbod">applicatieprofiel OSLO Mobiliteit: Trips en Aanbod</a>.
</p>

<p>
Vervoersknooppunten bestaan uit 1) Infrastructuurelementen, 2) Transportnetwerken, 3) Mobiliteitsdiensten en 4) AanvullendeDiensten.
</p>

<p>
De klasse Vervoersknooppunt wordt verder gespecialiseerd tot Hoppinpunt, dit is de Vlaamse versie van een Vervoersknooppunt.
</p>

<p>
Infrastructuurelementen vertegenwoordigen het fysieke aspect van een Vervoersknooppunt, het gaat over objecten zoals Informatiezuilen (zoals de Hoppinzuil), Stopplaatsen, Parkings, Fietsenstallingen, Laders etc. die noodzakelijk zijn voor de aanwezige Transportnetwerken en de op het Vervoersknooppunt aangeboden Mobiliteits- of AanvullendeDiensten. De Infrastructuurelementen en de specialisaties ervan komen uit de vocabalaria <a href="https://data.vlaanderen.be/doc/vocabularium/openbaardomein/infrastructuur">OSLO Openbaar Domein - Infrastructuurelementen</a>, <a href="https://data.vlaanderen.be/doc/applicatieprofiel/mobiliteit/dienstregeling-en-planning/stopplaatsen/kandidaatstandaard/2021-11-18">OSLO Mobiliteit - Dienstregeling en Planning - Stopplaatsen</a> en uit het <a href="https://www.mobivoc.org/">Open Mobility Vocabulary</a>.
</p>

<p>
De op een Vervoersknooppunt aanwezige Transportnetwerken zijn toegankelijk via Transportobjecten zoals Transportknopen (haltes, stations… ) en Transportconnecties tussen die knopen. Ook VirtueleKnopen (punten gelegen op een verbinding tussen twee Transportknopen, bv. de positie van een achtergelaten deelstep of het adres van een Reiziger) zijn mogelijk. De klasse Transportobject en zijn subklassen worden herbruikt uit het vocabularium <a href="https://data.vlaanderen.be/ns/transportnetwerk">OSLO Transportnetwerk</a>.
</p>

<p>
Via de aanwezige Infrastructuurelementen en Transportobjecten zijn in de eerste plaats Mobiliteitsdiensten beschikbaar. Dat kunnen lijndiensten of deelsteps zijn, maar evengoed Parkeerplaatsen of fietspompen. Een Mobiliteitsdienst kan andere Mobiliteitsdiensten omvatten, bv. in het geval van de Hoppincentrale die verschillende diensten integreert tot één dienst, maar ook bij een Aanbieder die zijn diensten beschrijft op verschillende granulariteitsniveaus (bv. op een hoog niveau, de dienst "deelmobiliteit in Vlaanderen" en op een lager niveau, de diensten "deelauto's in Antwerpen" en "deelfietsen in Gent"). De klasse Mobiliteitsdient en afhangende klassen komen uit het vocabularium <a href="https://data.vlaanderen.be/ns/mobiliteit/trips-en-aanbod">OSLO-Mobiliteit: Trips en Aanbod</a>.
</p>

<p>
Op een Vervoersknooppunt vinden we typisch ook allerlei AanvullendeDiensten, waaronder diensten die de Reiziger bijkomende verplaatsingen uitsparen zoals postbussen, bakkers, krantenwinkels etc.
</p>

<p>
Enumeraties worden in principe buiten het applicatieprofiel beschreven, de in het diagram weergegeven enumeratiewaarden zijn dus illustratief.
</p>

{% endblock %}
